@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  scroll-behavior: smooth;
  --primary-clr-200: #0089cd;
  --primary-clr-300: #0074ae;
  --primary-clr-400: #006699;
  --primary-clr-500: #005985;
  --primary-clr-600: #014263;

  --primary-RGB: 0, 102, 153;
  --accent-RGB: 250, 204, 21;

  --primary-gradient: var(--primary-clr-400) 0%, var(--primary-clr-300) 35%,
    var(--primary-clr-200) 100%;

  --primary-gradient-horizontal: linear-gradient(
    90deg,
    var(--primary-gradient)
  );
  --primary-gradient-horizontal-reverse: linear-gradient(
    270deg,
    var(--primary-gradient)
  );
  --primary-gradient-vertical: linear-gradient(180deg, var(--primary-gradient));
  --primary-gradient-vertical-reverse: linear-gradient(
    360deg,
    var(--primary-gradient)
  );
}

body {
  overflow-x: hidden;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgb(var(--primary-RGB)),
    rgba(var(--primary-RGB), 0.2)
  );
}

header::before,
header::after {
  visibility: visible;
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  height: 0.25rem;
}

header::before {
  width: 100%;
  background-color: rgb(var(--accent-RGB));
}

header::after {
  width: 50%;
  border-radius: 0.5rem;
  transform: translateX(-100%);
  background-color: var(--primary-clr-400);
  animation: slide 0.7s linear infinite;
}

.header--loaderHidden::before,
.header--loaderHidden::after {
  visibility: hidden;
}

.header--loaderHidden::after {
  animation: none;
}

#hero {
  position: relative;
}

#hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-RGB), 0.9);
}

/* CSS file for blog article */

/* General styles */

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin: 0;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.markdown-content p {
  margin: 0 0 1em;
}

.markdown-content a {
  color: var(--primary-clr-400);
  text-decoration: none;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
}

/* Heading styles */
.markdown-content h1 {
  font-size: 2rem;
}

.markdown-content h2 {
  font-size: 1.5rem;
}

.markdown-content h3 {
  font-size: 1.25rem;
}

/* Paragraph styles */
.markdown-content p {
  font-size: 1rem;
}

/* List styles */
.markdown-content ul,
.markdown-content ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.markdown-content li {
  margin-bottom: 0.5em;
}

/* Blockquote styles */
.markdown-content blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #f8f8f8;
  border-left: 4px solid #007bff;
}

/* Code block styles */
.markdown-content pre {
  padding: 1em;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  overflow-x: auto;
  font-family: Consolas, monospace;
  font-size: 0.9rem;
  line-height: 1.2;
}

/* Link styles */
.markdown-content a {
  transition: color 0.3s;
}

.markdown-content a:hover {
  color: #0056b3;
}

/* Image caption styles */
.markdown-content figcaption {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .markdown-content .container {
    padding: 10px;
  }

  .markdown-content h1 {
    font-size: 2rem;
  }

  .markdown-content h2 {
    font-size: 1.8rem;
  }

  .markdown-content h3 {
    font-size: 1.5rem;
  }

  .markdown-content p {
    font-size: 0.9rem;
  }

  .markdown-content blockquote {
    margin: 0.8em 0;
  }

  .markdown-content pre {
    font-size: 0.8rem;
  }

  .markdown-content figcaption {
    font-size: 0.8rem;
  }
}

[data-hcaptcha-widget-id] {
  margin: auto;
  margin-bottom: 1rem;
}

.closeVideo {
  opacity: 1;
  animation: fade-in 0.3s 2s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    transform: translateX(150%);
  }
}
