.aboutMeHeader {
  padding: var(--padding-400);
  padding-bottom: 30vh;
  color: var(--white);
  overflow-x: hidden;
  clip-path: var(--clip-path);

  @include widerThan1200 {
    padding-top: 20vh;
    overflow: unset;
  }

  .contentsWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include widerThan1024 {
      flex-direction: row-reverse;
      justify-content: flex-end; // cause direction is reverse
    }
  }

  &__hook {
    max-width: 720px;
    margin-top: 3rem;
    color: var(--black);

    @include widerThan1024 {
      margin-top: 0;
      margin-left: 3rem;
      padding: var(--padding-400);
      color: var(--white);
      background: var(--primary-gradient-horizontal);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-x-reverse);
    }

    p {
      color: rgba(var(--black-RGB), 0.7);

      @include widerThan1024 {
        color: rgba(var(--white-RGB), 0.9);
      }
    }

    mark {
      color: var(--white);
      background-color: var(--primary-clr-300);
      padding: 2px;

      @include widerThan1024 {
        color: var(--black);
        background-color: var(--accent-clr-300);
      }
    }

    a {
      color: var(--primary-clr-400);

      @include widerThan1024 {
        color: var(--accent-clr-300);
      }
    }
  }

  &__details {
    width: 80vw;
    max-width: 22rem;
    position: relative;
    margin-left: 0.25rem; // to subtract the overflow caused by before

    @include widerThan1024 {
      position: sticky;
      top: 20vh;
      margin-bottom: 15vh;
    }
  }

  &__contact,
  &__activity {
    color: var(--white);
    background-image: var(--primary-gradient-horizontal);
    border: 2px solid var(--primary-clr-400);
    border-bottom-color: var(--primary-clr-500);
    margin-top: 0.5rem;
  }

  &__contact {
    margin-right: 1rem;

    &::before {
      content: '\f2b9';
    }
  }

  &__activity {
    &::before {
      content: '\f201';
    }
  }
}
